<h2>Map for <?php echo $device['Device']['name']; ?></h2>

<!-- Hidden values for the map -->

<input type="hidden" name="kml_url" id="kml_url" value="<?php echo $this->Html->url(array('controller' => 'devices', 'action' => 'history', $device['Device']['guid']), true); ?>" />

<!-- The map itself -->

<div id="track_map"></div>
<script src="http://www.mapquestapi.com/sdk/js/v7.0.s/mqa.toolkit.js?key=Fmjtd%7Cluub2hub2h%2Ca2%3Do5-9ut2ur"></script>
<?php echo $this->Html->script('map'); ?>
